.container {
	background-color: #ffffff;
}

#header {
	margin-bottom: 50px;
}

.applet {
	border: 2px solid black;
	width: 600px;
	height: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: auto;
}


h1 {
	margin-bottom: 0px;
}

h2 {
	font-size: 15px;
	margin-top: 10px;
}