body	
	{	font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		background: #587abc;}

.container 
	{	background: #fff;}

#header
	{	background: #002a56 url("../images/gradual_gradient.jpg") no-repeat;
		background-size: 500px;
		color: #ffcb05;
		min-height: 200px}
					

h1, h2 
	{	font-family: 'Oswald', sans-serif;
		text-transform: uppercase;}
					
h1
	{	font-size: 30px;
		letter-spacing: 2px;}

h2
	{	font-size: 18px;
		letter-spacing: 1px;}

h3
	{	margin-bottom: 20px;}

.active 
	{	background: #fff;}

.navigation
	{	background: #ffcb05;}

.nav li
	{	color: #fff;
		font-weight: 700;
		border-right: solid #fff 1px;}
					
#content
	{	margin: 0;
		padding: 20px 0 20px 0;}
	
#contact 
	{	font-size: 15px;
		font-weight: bold;}

#footer
	{	text-align: center;
		font-size: 12px;
		margin-top: 20px;
		margin-bottom: 20px;}

#work
	{	margin-left: 20px;}

a:link
	{	color: #3774d0;
		text-decoration: none;}
a:visited
	{	color: #634b9f;
		text-decoration:none;}
a:hover, a:active
	{	color: #f1d018;
		text-decoration:none;}

.nav a:link, .nav a:visited, .nav a:hover, .nav a:active
	{	color: #fff;
		text-decoration: none;}

.active a:link, .active a:visited, .active a:hover, .active a:active
	{	color: #000;}

ul.nav a:hover 
	{ 	color: #000;}
						
img
	{	display: block;
		margin: 20px;}

.reprint
	{	margin-left: 35px;
		font-size: .9em;
		margin-bottom: 10px}


@media (max-width: 768px) {
	.navbar-nav 
		{	margin: 0;}

	.active
		{	background: #eee;
			border-top-left-radius: 0;
			border-top-right-radius: 0;}

	.nav li
	{ 	border-bottom: 1px solid #fff;}

	#work
		{	margin-left: 0;}
}